@{
    ViewData["Title"] = "Home Page";
}

<html>
<body>
    <h1>Что-то пошло не так!</h1>

    <a asp-controller="Abonent" asp-action="Index">Вернуться назад (можно с грустным лицом!)</a>

</body>
</html>